@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:600&display=swap");

body {
  margin: 0;
  font-family: 'Source Sans Pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fff2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login-form{
  max-width: 700px;
  margin: 5% 0 0 0;
}

.navbar{
  background-color: #00647c;
  color:white;
}
.navbar-brand{
  color:white;
}
.listRow {
    background-color: white;
    padding: 0.75%;
    border-width: 2px;
    border: 1px solid #5a9ba9;
    margin-bottom: 1%;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(90,155,169,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(90,155,169,1);
  box-shadow: 0px 0px 3px 0px rgba(90,155,169,1);
}
.claimBtn{
  width:100%
}
.btn-primary{
  background-color: #00647c;
  border-color: #00647c;
}
.btn-primary:hover{
  background-color: #003a50;
  border-color: #003a50;
}
.col{
  align-items: center;
  display: flex;
}
.item-row{
  margin:5% 0 2.5% 0;
}
.innerContent{
    margin-top: 4%;
    padding: 2%;
    min-height: 80vh;
    border-radius: 2%;
  
}
.listHeader{
  display:grid;
  grid-template-columns: 10% auto;
}
.homeHeader,.header{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom:3%;
}
.header-column{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}
.header-date{
  font-weight: bold;
}
.table-header{
  margin-bottom: 1%;
  font-weight: bold;
}
.list-edit{
  margin-top:2%;
  margin-bottom:2%;
}
.form-group-right-spacing{
  margin-right: 8%;
}
.form-control{
  margin-bottom: 3%;
}
.header-btn{
  margin-top:3%;
}
.centered{
  justify-content: center;
}
.card{
  margin:3%;
}
.navbar-light .navbar-brand{
    color: white;
    font-family: 'Staatliches', cursive;
    font-weight:900;
    font-size: x-large;
  
}
.navbar-light .navbar-nav .nav-link {
  color:white;
  
}
.navbar-light:hover .navbar-brand:hover {
  color:#d8dbd5;
}
.claimText{
  font-weight: 900;
  margin:1.5% 0 1.5% 0;
}
.userName{
  font-size: 1.5em;
font-weight: 600;
text-align: left;
}
.headerRow{
  justify-content: center;;
}
.headerCol{
  width:100%;
}
.fullWidthBtn {
  width:100%;
}
.backlink{
  font-size:1.25em;
  font-weight: 500;
}
.leftJustifyRow{
  justify-content: left !important;
}
@media (max-width: 800px) { 
  .col, .col-md-auto{
    margin:2% 0 1.5% 0;
  }
  .row{
    width:100%;
    align-items: center;
    justify-content: center;
  }
  .fullWidth{
    width:100%;
  }
  .header-btn{
    width:100%;
  }

 }